
body{
    display:block;
    margin: 0% ;
    margin-top: -2%;
    padding-top: 0%;
}


.body {
    text-align: center;
    background-image: url(./images/images.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    margin-top: 0%;

}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 3em;
    color: aliceblue;
    
}

.form {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #636f6a;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
}

select,input{
    width:60%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #784040;
    box-sizing: border-box;

}
input[type="checkbox"] {
    width: 30px; 
    height: 30px; 
}
input:hover{
    background-color: #d07b7b;
}
select:hover{
    background-color: #d07b7b;
}


button.submit {
    width: 40%;
    height: 20%;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

button.submit:hover {
    background-color: #cc0b0b;
    
}


@media only screen and (max-width: 600px) {
    .form {
        width: 80%;
    }
    
    select, input {
        width: 100%;
    }
    
    button.submit {
        width: 50%;
    }
}



#firstNameError,
#lastNameError,
#emailError,
#dobError,
#genderError,
#passwordError,
#confirmPasswordError,
#termsError {
    display: flex;
    margin-left: 23%;
    color: rgb(255, 5, 5);
    font-size:30px;
    
}
.eye{
    display: flex;
    margin-left: 20%;
    width: max-content;
}
.eye:hover{
    background-color: #1d0404;
    color: aliceblue;
}

